.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-footer);
}

.page-footer__wrapper {
  display: flex;
  align-items: baseline;
}

.page-footer__adress {
  width: 231px;
}

.page-footer__contacts-box {
  font-style: normal;
}

.page-footer__contacts-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__address-link {
  color: var(--white-color);
}

.page-footer__contacts-link {
  color: var(--white-transparent-color);
  line-height: 1.71;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__social-box {
  margin-left: 70px;
}

.page-footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__social-icon {
  fill: var(--white-color);
}

.page-footer__form-box {
  margin-left: auto;
}
