.page-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current::after {
  content: " ";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header-item:not(:last-child) {
  margin-right: 50px;
}

.page-header .link:not(.logo.link) {
  transition: color var(--animation);
}

.page-header .link:hover:not(.logo.link),
.page-header .link:focus:not(.logo.link) {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
