.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: inherit;
  text-align: center;
}
.btn.primary {
  min-width: 200px;
  padding: 10px;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--btn-bgc-accent);
  }
}

.btn.secondary {
  padding: 6px 22px;

  background-color: var(--bgc-gray);
  color: var(--primary-color);

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
  /* box-shadow - для btn-filter */

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
