.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-networks__icon {
  fill: #afb1b8;

  transition: fill var(--animation);

  .social-networks__link:hover &,
  .social-networks__link:focus & {
    fill: var(--white-color);
  }
}
